nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item:hover{
    color: orange;
    
}
.menu{
    color: white;
}
.nav-right-item{
    margin-right: 20px;

}

@media all and (max-width:576px) {
    .nav-right{
        display: none;
    }
    
}